{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Personal Contact Application">
    <meta name="keywords" content="contact app, personal contact app, web app, django app, python app, aadil, md aadil shafi">
    <meta name="author" content="Mohd Aadil Shafi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />

    <link rel="stylesheet" href="{% static './css/main.css' %}">
    <link rel="icon" href="{% static 'images/add_user.png' %}">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body>
    <!--nav-->
    

      <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home_view' %}"><i class="fas fa-address-book"></i> MyContacts</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_view' %}"><i class="fas fa-plus"></i> Add New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'message_view' %}"><i class="fas fa-envelope"></i> Message</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
              </li>
              <li class="nav-item">
              <p class="fw-light text-warning p-0 pt-2 m-0 mx-5">Welcome <span class="fw-bold">{{request.user}}</span></p>
              </li>
              

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup_view' %}"><i class="fas fa-user-plus"></i> SignUp</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" action="{% url 'search' %}" method="GET">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_term" value="{{search_term}}">
              <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </nav>
{% include 'partials/_message.html' %}
{% block content %}

{% endblock content %}



<footer class="mt-0 p-2 mb-0 bg-dark">
    <p class="text-center fw-light text-light p-2 m-0">&copy; MyContacts | Developed by: Mohd Aadil Shafi</p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>